#header nav{
    background-color: #222A35;
    border-bottom: 1px solid var(--primary);
}

#header nav .id{
    height: 70px;
    padding: 10px 0px;
}

#header nav .tagline{
    font-size: 16px;
    font-style: italic;
    display: inline-block;
    margin-top: 35px;
}

#header nav .user-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

#header nav .cart{
    width: 50px;
    height: 50px;
}

#header nav .cart span{
    padding: 0px;
    height: 25px;
    width: 25px;
    margin: 0px;
    right: -15px;
    top: 6px;
    border-radius: 50%;
    background-color: var(--warning);
    text-align: center;
}
